.page-list {
  width: 100vw;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 30px;
  display: flex;
  .filter-section {
    padding-left: 50px;
    padding-top: 55px;
    width: 20%;
  }
  .card-section {
    padding-left: 60px;
    padding-top: 40px;
    width: 67%;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .sorter {
        display: flex;
        align-items: center;
        gap: 20px;
        span {
          color: var(--text-sort);
          font-size: 12px;
        }
      }
    }
    .list-of-card {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
}