#btn-sort {
  padding: 8px 30px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid var(--border);
  background-color: white;
  color: var(--text-sort);
  &:hover {
    border-right: none;
  }
  &:active {
    border-right: none;
  }
}

#dropdown-split-basic {
  padding: 8px 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid var(--border);
  background: white;
  color: var(--text-sort);
  border-left: none;
}