@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #3C3C3F;
  --border: #D8D8D8;
  --text-basic: #FFFFFF;
  --text-filter: #888888;
  --text-sort: #838383;
  --text-point: #74B71B;
  --text-review: #838EAB;
  --text-sold: #E64580;
  --btn-primary: #016A4E;
  --btn-secondary: #73B81C;
  --footer: #232323;
  --disabled: #E1E8EE;
  --preview: #649C1A;
  --stock: #79B625;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .border {
  border: 1px solid var(--border);
} */
